---
---

<section class="relative flex items-center justify-center h-screen bg-black" id="demo">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 w-full h-full aspect-w-16 aspect-h-9">
    <iframe
      class="aspect-content"
      src="https://www.youtube-nocookie.com/embed/euS2NgXtRKI"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</section>
