---
import Layout from '~/layouts/BaseLayout.astro';
import { getHomePermalink } from '~/utils/permalinks';

const title = `Alice Game`;
---

<Layout meta={{ title }}>
  <section class="flex items-center h-full p-16">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <p>
        <iframe
          src="https://gateway.lighthouse.storage/ipfs/QmVfB9LyWvDu1Cnyffv7EjxpqmngycySJovJWpLtNdz6iC/"
          width="1000"
          height="900"
        >
          Your browser does not support iframes.
        </iframe>
      </p>
    </div>
    <div class="max-w-md text-center">
      <a rel="noopener noreferrer" href={getHomePermalink()} class="btn ml-4">Back to Homepage</a>
    </div>
  </section>
</Layout>
